<% include ../partials/header %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
          <h1><img class="img-fluid" src="/images/forteShortLogo.png" alt="LogoPic"></h1>
        <h4 class="text-center mb-3">Register</h4>
        <% include ../partials/messages %>
        <form action="/registration" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="name"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="instrument">Instrument</label>
                <input
                  type="text"
                  id="instrument"
                  name="instrument"
                  class="form-control"
                  placeholder="Enter Instrument"
                  value="<%= typeof instrument != 'undefined' ? instrument : '' %>"
                />
              </div>
            <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="to"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="form-group form-check form-check-inline">
            <input 
                class="form-check-input"
                type="radio"
                name="userType"
                id="userType"
                value="student"
                checked>
            <label class="form-check-label" for="exampleRadios1">Student</label>
          </div>
          <div class="form-group form-check form-check-inline">
            <input
                class="form-check-input"
                type="radio" 
                name="userType"
                id="userType"
                value="teacher">
            <label class="form-check-label" for="exampleRadios2">Teacher</label>
          </div>

          <script>
            $(document).ready(function(){
              var from,to,subject,text;
              $("#send_email").click(function(){		
                to=$("#to").val();		
                $("#message").text("Sending E-mail...Please wait");
                $.get("http://localhost:3000/send",{to:to},function(data){
                  if(data=="sent")
                  {
                    $("#message").empty().html("<p>Email is been sent at "+to+" . Please check inbox !</p>");
                  }
                });
              });
            });
            </script><br>
            <button type="submit" class="btn btn-primary btn-block" id="send_email">Register</button>

        </form>
        <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
      </div>
    </div>
  </div>

<% include ../partials/footer %>